<aside class="sidebar">
    <nav class="sidebar-menu">
        <a href="#" class="sidebar-item active" id="linkToDashboardHome">
            <div class="sidebar-icon"></div>
            <span>Home</span>
        </a>
        <a href="#" class="sidebar-item" id="linkToProfile">
            <div class="sidebar-icon">👤</div>
            <span>Profilo</span>
        </a>
        <a href="#" class="sidebar-item" id="linkToChat">
            <div class="sidebar-icon">💬</div>
            <span>Chat</span>
        </a>
        <a href="#" class="sidebar-item" id="linkToSearchBySubject">
            <div class="sidebar-icon">🔍</div>
            <span>Cerca Tutor</span>
        </a>
        <a href="#" class="sidebar-item" id="linkToBecomeTutor">
            <div class="sidebar-icon">🎓</div>
            <span>Diventa Tutor</span>

            <a href="#" class="sidebar-item" id="">
                <div class="sidebar-icon">📝</div>
                <span>Classroom</span>
            </a>
            <a href="#" class="sidebar-item" id="reviewLink">
                <div class="sidebar-icon">⭐</div>
                <span>Recensioni</span>
            </a>
            <a href="/frontend/views/payments/insert_payments.html" class="sidebar-item" id="linkToInsertPayments">
                <div class="sidebar-icon">💳</div>
                <span>Pagamenti</span>
            </a>
    </nav>
    <div class="logout">
        <a href="#" class="sidebar-item logout-item" id="linkToLogout">
            <div class="sidebar-icon">✕</div>
            <span>Logout</span>
        </a>
    </div>
</aside>