<div class="filterContainer">
    <div class="filterGroup">
        <label for ="fieldSelection">Select a Field:</label>
        <select id="fieldSelection" name="fieldSelection"></select>
    </div>
    <div class="filterGroup">
        <label for ="subjectSearch">Search by subject:</label>
        <input type="text" id="subjectSearch" name="subjectSearch" placeholder="Type subject name here...">
        <div id="subjectResults" class="results-dropdown"></div>
    </div>
</div>

<div id="tutorContainer" class="grid-container"></div>
<br><br>
<a href="/main" id="linkToMain">Home</a>