### PyCharm (JetBrains) ###
# hide personal IDE configurations
.idea/
*.iws
*.iml

### Python ###
# hide pyton compilated files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

### Virtual Environments ###
venv/
.venv/
env/
ENV/

### temporary files###
.DS_Store
Thumbs.db
*.log

### env ###
.env