.invite-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* # it's a id: a element uniq for page
 . it's a class: style for plus element
 */

.sendButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#backButton{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 100;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: white;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-top: 150px;
}

#backButton:hover {
    opacity: 0.9;
    background-color: #c82333;
    color: white;
}


#sendMessageButton{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#sendMessageButton:hover{
    opacity: 0.9;
    background-color: #28a745;
    color: white;
}

#correctTestsButton{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    background: white;
    color: var(--primary-color);
}

#correctTestsButton:hover {
    background-color: #28a745;
    color: white;
}

.correctButton{
    background:#24478f;
    color:#fff;
    border:none;
    border-radius:10px;
    padding:10px 22px;
    margin-top:15px;
    font-family:"Poppins", sans-serif;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:all .2s ease;
}

.correctButton:hover{
    background: #218838;
    transform:translateY(-2px);
}

.correctButton:active{
    transform:translateY(0);
}






.viewTestButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: 0.2s;
    margin-top: 20px;
}

.viewTestButton:hover{
    background-color: #218838;
    color: white;
}

.toggleButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #c82333;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: 0.2s;
}

.toggleButton:hover{
    background-color: #218838;
}

.startButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: 0.2s;
    margin-top: 20px;
}

.startButton:hover{
    background-color: #218838;
    color: white;
}


.retryButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: 0.2s;
}

.retryButton:hover{
    background-color: #218838;
    color: white;
}


.viewResultButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: 0.2s;
    margin-top: 20px;
}

.viewResultButton:hover{
    background-color: green;
    color: white;
}

.headerButtons{
    display: flex;
    gap: 10px;
}

#newChatButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: 0.2s;
}

#newChatButton:hover{
    background-color:#6A8DD3;
    color: white;
}

#addChatButton{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.questionCard button{
    display: block;
    margin-left: auto;
    width: 150px;
    padding: 10px 16px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.questionCard button:hover{
    background-color: red;
    color: white;
}

#addQuestionButton{
    align-self: flex-end;
    width: 150px;
    padding: 10px 16px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

#addQuestionButton:hover{
    background-color: #218838;
    color: white;
}

#previousButton{
    padding:12px 22px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-right:10px;
}

#previousButton:hover{
    background-color: red;
    color: white;
}

#nextButton,
#submitButton{
    padding:12px 22px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-right:10px;
}


#nextButton:hover,
#submitButton:hover{
    background: green;
    color: white;
}

#previousButton:disabled{
    background:#bdbdbd;
    cursor:not-allowed;
}

.btn-login{
    display: inline-block;
    padding: 15px 40px;
    background-color: white;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

.create-btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.create-btn:hover{
    background-color: lightskyblue;
}
.btn-login:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
    background-color: #218838;
    color: white;
}

.btn-login:active{
    transform: scale(0.97);
}

/*DASHBOARD BUTTON*/
.logout-item .sidebar-icon{
    background: #DCE8FF;
    color: #333;
    transition: .3s;
}

.logout-item:hover .sidebar-icon{
    background: #D32F2F;
    color: white;
}

.logout-item:hover span{
    color: #D32F2F;
}

/*CANDIDATE BUTTON*/
.candidate-btn{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}

.candidate-btn:hover{
    background: green;
    color: white;
}

.execute-btn{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
    font-weight: bold;
}

.execute-btn:hover{
    background-color: green;
}

/*SAVE PROFILE INFO BUTTON*/
.save-btn{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;;
}

.save-btn:hover{
    transform: translateY(-2px);
    background: #218838;

}

/*BUTTON TUTOR TEST*/
#tutorTestContainer #backToMainPage{
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: white;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}

.nextQuestionButtons{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
}

.nextQuestionButtons button{
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: white;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.nextQuestionButtons button:hover{
    background: green;
}

.create-btn,
.invite-btn{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.create-btn:hover,
.invite-btn:hover{
    background-color: green;
}

.enter-btn{
    margin-top: 5px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;

}

.enter-btn:hover{
    background: green;
}



