.results-dropdown{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 30vh;
    overflow-y: auto;
    min-width: 10%;
    z-index: 1000;
    margin-top: 10px;
    background-color: white;
    align-items: stretch;
}

.results-dropdown .subject-item {
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    background: white;
    border: none;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.results-dropdown .subject-item:hover {
    background-color: #f0f0f0;
}