<div class="page">
    <div class="header">
        <h2>Classroom Tests</h2>
        <button id="backButton">Back</button>
    </div>
    <div class="header">
        <h2>Active Tests</h2>
        <button id="correctTestsButton" class="owner-only">Tests To Correct</button>
    </div>
    <div id="activeTestsContainer"></div>
    <h2 id="submittedTestsTitle">Submitted Tests</h2>
    <div id="submittedTestsContainer"></div>
    <h2 id="inactiveTestsTitle">Inactive Tests</h2>
    <div id="inactiveTestsContainer"></div>
</div>
<br><br>
<a href="/main" id="linkToMain">Home</a>
<a href="/classroomHome" id="linkToClassroomList">Classrooms</a>