<div class="dashboard">
    <div id="sidebarContainer"></div>
    <main class="dashboard-content">
        <div class="page">
            <div class="header">
                <h1 class="page-title">
                    <em>Tests to Correct</em>
                </h1>
                <button id="backButton">Back</button>
            </div>
            <p class="page-description">
                <em>Visualizza i test inviati dagli studenti, correggi quelli ancora in attesa e consulta lo storico dei test già valutati.</em>
            </p>
            <div class="classroom-card">
                <h2>Test da Correggere</h2>
                <div id="testsToCorrectContainer">
                </div>
            </div>
            <div class="classroom-card">
                <h2>Test Corretti</h2>
                <div id="correctedTestsContainer">
                </div>
            </div>
        </div>
    </main>
</div>