<div class = "page">
    <div class = "header">
        <h2> Create Test</h2>
        <button id="backButton">Back</button>
    </div>
    <form id="createTestForm" method='POST'>
    <label for="title">Test Title</label>
    <input
        id="title"
        name="title"
        type="text"
        required >
    <label for="time_limit"> Time limit (min) </label>
    <input
        id="time_limit"
        name="time_limit"
        type="number"
        min="1"
        value="1"
        required >

    <div id="createQuestionsContainer">
    </div>
    <button type="button" id="addQuestionButton">Add question</button>
    <br><br>
    <input type="submit" value="Create Test">
    </form>
</div>