<div class="dashboard">
    <div id="sidebarContainer"></div>
    <main class="dashboard-content">
        <div class="page">
            <div class="header">
                <h1 class="page-title">
                    <em>Svolgimento Test</em>
                </h1>
                <div class="timerBox">
                    <strong>Tempo rimanente:</strong>
                    <span id="timer"></span>
                </div>
            </div>
            <p class="page-description">
                <em>Leggi attentamente ogni domanda e seleziona la risposta corretta. Le risposte verranno salvate automaticamente durante lo svolgimento del test.</em>
            </p>
            <div class="classroom-card">
                <h2 id="testTitle">
                </h2>
                <div id="questionsContainer">
                </div>
            </div>
        </div>
    </main>
</div>