<!-- testing page -->
<h1 xmlns="http://www.w3.org/1999/html">Login</h1>
<p><a href="/login" id="linkToLogin">Login</a></p>
<br>
<h1>Register</h1>
<p><a href="/register" id="linkToRegister">Register</a></p>
<br>
<h1>Log Out</h1>
<p><a href="/logout" id="linkToLogout">Log Out</a></p>
<br>
<h1>Payments</h1>
<p><a href="/insert_payments" id="linkToInsertPayments">Add payment method</a></p>
<br>
<h1>UpdateProfile</h1>
<p><a href="/update_profile" id="linkToProfile">Update profile</a></p>
<br>
<h1>Eligible subjects for tutor candidation</h1>
<p><a href="/eligibleSubjects" id="linkToEligibleSubjects">Eligible Subjects</a></p>
<br>
<h1>Active Tutor Applications</h1>
<p><a href="/activeApplications" id="linkToActiveApplications">Active Tutor Applications</a></p>
<br>
<h1>Completed Tutor Applications</h1>
<p><a href="/completedApplications" id="linkToCompletedApplications">Completed Tutor Applications</a></p>
<br>
<h1>Insert Student test</h1>
<p><a href="/createTest" id="linkToCreateTest">Create Student Test</a> </p>
<br>
<h1>ClassRoom Test</h1>
<p> <a href="/classroomTest" id="linkToClassroomTest"> Classroom Test</a> </p>
<br>
<h1>Search Tutor</h1>
<p><a href="/searchBySubject" id="linkToSearchBySubject">Search Tutor By Subject</a></p>
<br>
<h1>Chat</h1>
<p><a href="/chat" id="linkToChat">Chat</a></p>
<br>
<h1>Write Review</h1>
<p><a href="/writeReview" id="linkToCreateReview"> Write a review</a></p>
<br>
<h1>View review</h1>
<p><a href="/viewReview" id="linkToViewReview">View review</a></p>
