<div class="dashboard">
    <div id="sidebarContainer"></div>
    <main class="dashboard-content">
        <div class="page">
            <div class="header">
                <h1 class="page-title">
                    <em>Recensioni</em>
                </h1>
            </div>
            <p class="page-description">
                <em>Gestisci le tue recensioni. Da questa sezione puoi lasciare un nuovo feedback oppure consultare le recensioni già inviate.</em>
            </p>
            <div class="review-cards">
                <div class="review-card" id="cardWriteReview">
                    <div class="review-icon"></div>
                    <h2>Scrivi una recensione</h2>
                    <p>Condividi la tua esperienza e lascia un feedback sul tutor con cui hai svolto le lezioni.</p>
                    <button class="create-btn">
                        Scrivi Recensione
                    </button>
                </div>
                <div class="review-card" id="cardViewReview">
                    <div class="review-icon"></div>
                    <h2>Visualizza recensioni</h2>
                    <p>Consulta tutte le recensioni che hai scritto e rivedi i feedback lasciati ai tutor.
                    </p>
                    <button class="create-btn">Visualizza Recensioni</button>
                </div>
            </div>
        </div>
    </main>
</div>