<form id="ProfileForm" method="post">

    <label for="firstName">First Name</label>
    <input id="firstName" type="text">
    <br><br>
    <label for="lastName">Last Name</label>
    <input id="lastName" type="text">
    <br><br>
    <label for="birthDate">Birth Date</label>
    <input id="birthDate" type="date">
    <br><br>
    <label for="bio">Bio</label>
    <textarea id="bio"></textarea>
    <br><br>
    <label for="profile_picture">Picture</label>
    <input id="profile_picture" type="text">
    <br><br>
    <input type="submit" value="Save profile">
</form>

