<h3> Classroom Page </h3>
<button class="owner-only" id="editButton">Edit Classroom</button>
<button class="owner-only" id="inviteButton">Invite Students</button>
<button class="owner-only" id="createTestButton">Create Test</button>
<button id="classroomTests">Tests</button>

<div id="memberListContainer" class="member-list"></div>
<div id="messagesContainer" class="chat"></div>
<label for="messageInput">Write message</label>
<textarea
    id="messageInput"
    placeholder="Write a message..."
    rows="3">
</textarea>
<div class="sendButtonContainer">
    <button id="sendMessageButton">Send</button>
</div>

<br><br>
<a href="/main" id="linkToMain">Home</a>
<a href="/classroomHome" id="linkToClassroomList">Classrooms</a>